*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heroSection{
    background: url('./Images/heroBanner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}