* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heroSection {
    background: url('../Images/newBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .afterHero{
    background: url('../Images/EvanGelical\ Outreach.jpg');
} */

.overLay {
    background: rgba(255, 253, 208, 0.5);
}

.sideBar {
    display: none;
    transition: all .5s ease-in-out;
}

/* Shown state */
.sideBar.active {
    display: flex;
    height: auto;
    padding: 15px;
}